.button {
  background: linear-gradient(
    to bottom right,
    $colour-secondary,
    $colour-primary
  );
  display: inline-block;
  color: white;
  border-radius: 15px;
  padding: 2% 5%;
  margin: 5% 0 9%;
  cursor: pointer;
  font-size: 0.9em;
  &:hover {
    box-shadow: 0 5px 15px 0 $colour-primary;
    filter: brightness(1.1);
  }
}

.order {
  display: block;
  text-align: center;
  padding: 4% 10%;
  border-radius: 20px;
  cursor: pointer;
  color: white;

  font-size: 0.9em;
  margin: 10% 20% 12%;
  background: linear-gradient(
    to bottom right,
    $colour-secondary,
    $colour-primary
  );

  &:hover {
    box-shadow: 0 5px 15px 0 $colour-primary;
    filter: brightness(1.1);
  }
}
